Jupyter Notebooks
==================

A notebook consists in a set of cells. These cells are interpreted either as text instruction (i.e. **markdown**) or as Python **code**.

* Each cell can be edited using ``[Enter]`` key (i.e. *edit mode*). To return to the *navigation mode*, use the ``[Esc]`` key.

* To switch change a cell to a Python code cell, go in navigation mode and the press ``[y]`` key. Similary, to change a cell to a markdown cell, press the ``[m]`` key.

* You can run a cell by pressing ``[shift] + [Enter]`` or by pressing the "play" button in the menu.

![](../03_sklearn/notebooks/figures/ipython_run_cell.png)

* You can get help on a function or object by pressing ``[shift] + [tab]`` after the opening parenthesis ``function(``

![](../03_sklearn/notebooks/figures/ipython_help-1.png)

* You can also get help by executing ``function?``

![](../03_sklearn/notebooks/figures/ipython_help-2.png)

Some useful keyboard shortcut (*you need to be in navigation mode*):

* Add a cell above the current cell -> press ``[a]``
* Add a cell below the current cell -> press ``[b]``
* Select several cells -> hold ``[Shift]`` + arrow ``[up]`` or ``[down]``
* Remove the selected cell(s) -> press ``[dd]``
* Copy the selected cell(s) -> press ``[c]``
* Cut the selected cell(s) -> press ``[x]``
* Paste the copy/cut cell(s) -> press ``[v]``

# Introduction to Python

We introduce here the Python language. Only the bare minimum
necessary for getting started with Numpy and Scipy is addressed here.
To learn more about the language, consider going through the
excellent tutorial http://www.scipy-lectures.org/intro/index.html. Dedicated books
are also available, such as http://www.diveintopython.net/.

Python is a **programming language**, as are C, Fortran, BASIC, PHP,
etc. Some specific features of Python are as follows:

* an *interpreted* (as opposed to *compiled*) language. Contrary to e.g.
C or Fortran, one does not compile Python code before executing it. In
addition, Python can be used **interactively**: many Python
interpreters are available, from which commands and scripts can be
executed.

* a free software released under an **open-source** license: Python can
be used and distributed free of charge, even for building commercial
software.

* **multi-platform**: Python is available for all major operating
systems, Windows, Linux/Unix, MacOS X, most likely your mobile phone
OS, etc.

* a very readable language with clear non-verbose syntax

* a language for which a large variety of high-quality packages are
available for various applications, from web frameworks to scientific
computing.

* a language very easy to interface with other languages, in particular C
and C++.

* Some other features of the language are illustrated just below. For
example, Python is an object-oriented language, with dynamic typing
(the same variable can contain objects of different types during the
course of a program).


See https://www.python.org/about/ for more information about
distinguishing features of Python.

## 0. Hello world

you type in the cells, execute commands with shift + Enter

you can add whatever you want

In [1]:
print("Hello world")

Hello world

# 1. Basic types

## 1.1. Integers

In [2]:
1+1

2

We can assign values to variables with `=`

In [3]:
a = 4

In [4]:
type(a)

int

Note that one does not declare the type of a variable before assigning its value. 
In C, conversely, one should write:
```C
int a = 4;
```

## 1.2 Floats

There exists a floating point type that is created when the variable has decimal values:

In [5]:
c = 2.1
c

2.1

In [6]:
type(c)

float

This gives a different result when using `Python 2` and `Python 3`

In [7]:
1 / 2, 1. /2

(0.5, 0.5)

NB: this uses an object that we'll discover later, the `tuple`

In [8]:
t = 2*3, 4.
type(t)

tuple

## 1.3. Boolean
Similarly, boolean types are created from a comparison:

In [9]:
3 > 4

False

In [10]:
test = (3 > 4)

In [11]:
type(test)

bool

NB: A Python shell can therefore replace your pocket calculator, with the basic arithmetic operations ``+``, ``-``, ``*``, ``/``, ``%`` (modulo) natively implemented

## 1.4. Type conversion (casting)

In [12]:
a = 1
type(a)

int

In [13]:
b = float(a)
type(b)

float

In [14]:
a, b

(1, 1.0)

In [15]:
a == b

True

In [16]:
(1.0 + 0.1 - 1.0) == (1.0 - 1.0 + 0.1)

False

In [17]:
abs((1.0 + 0.1 - 1.0) - (1.0 - 1.0 + 0.1)) < 1e-10

True

#  2. Containers

Python provides many efficient types of containers, in which collections of objects can be stored. The main ones are `list`, `tuple`, `set` and `dict`

## 2.1. Tuples

In [18]:
tt = ('truc', 3.14)
tt

('truc', 3.14)

In [19]:
tt_list = ['truc', 3.14]
tt_list

['truc', 3.14]

In [20]:
tt_list.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [21]:
tt[0]

'truc'

You can't change a tuple, we say that it's *immutable*

In [22]:
tt[0] = 1

TypeError: 'tuple' object does not support item assignment

In [23]:
a = 2
a_list = [ a, 3]

In [24]:
a_list

[2, 3]

In [25]:
a = 3
a_list

[2, 3]

## 2.1. Lists

A list is an ordered collection of objects, that may have different types. For example:

In [26]:
colors = ['red', 'blue', 'green', 'black', 'white']

In [27]:
type(colors)

list

Indexing: accessing individual objects contained in the list::

In [28]:
colors[2]

'green'

WARNING: **Indexing starts at 0** (as in C), not at 1 (as in Fortran or Matlab).

Counting from the end with negative indices:

In [29]:
colors[-2]

'black'

In [30]:
colors[10]

IndexError: list index out of range

In [31]:
len(colors)

5

In [32]:
colors[1] = 'purple'

Afficher la liste

In [33]:
# Afficher la liste
colors

['red', 'purple', 'green', 'black', 'white']

In [34]:
colors.sort()

In [35]:
colors

['black', 'green', 'purple', 'red', 'white']

In [36]:
colors2 = colors
colors2.sort(reverse = True)
colors2

['white', 'red', 'purple', 'green', 'black']

In [37]:
colors

['white', 'red', 'purple', 'green', 'black']

In [38]:
colors2 = colors.copy()

In [39]:
colors.sort()
colors

['black', 'green', 'purple', 'red', 'white']

In [40]:
colors2

['white', 'red', 'purple', 'green', 'black']

In [41]:
colors3 = list(colors2)
colors3.sort()
colors2

['white', 'red', 'purple', 'green', 'black']

## 2.2. Slicing: obtaining sublists of regularly-spaced elements

In [42]:
colors

['black', 'green', 'purple', 'red', 'white']

In [43]:
colors[1:5:2]

['green', 'red']

**Slicing syntax**: ``colors[start:stop:stride]``

NB: All slicing parameters are optional

In [44]:
colors

['black', 'green', 'purple', 'red', 'white']

In [45]:
colors[3:]

['red', 'white']

In [46]:
colors[:3]

['black', 'green', 'purple']

In [47]:
colors[::2]

['black', 'purple', 'white']

In [48]:
colors[2:0:-1]

['purple', 'green']

In [49]:
colors[7:8]

[]

## 2.3. Strings

Different string syntaxes (simple, double or triple quotes):

In [50]:
s = 'asdfdfdf'
type(s)

str

In [51]:
s = "asdfdfd"

In [52]:
s = """asdfadsf
asdfdf 
asdfdf 
"""

In [53]:
s

'asdfadsf\nasdfdf \nasdfdf \n'

In [54]:
print(s)

asdfadsf
asdfdf
asdfdf

In [55]:
len(s)

25

In [56]:
list(s)

['a',
 's',
 'd',
 'f',
 'a',
 'd',
 's',
 'f',
 '\n',
 'a',
 's',
 'd',
 'f',
 'd',
 'f',
 ' ',
 '\n',
 'a',
 's',
 'd',
 'f',
 'd',
 'f',
 ' ',
 '\n']

In [57]:
s.strip().split()

['asdfadsf', 'asdfdf', 'asdfdf']

In [58]:
s_list = s.strip().split("\n")
s2_list = s_list
s_list[2]

'asdfdf'

In [59]:
s_list[2:3]

['asdfdf']

In [60]:
s[3:10]

'fadsf\na'

In [61]:
s + ' coucou'

'asdfadsf\nasdfdf \nasdfdf \n coucou'

In [62]:
s.title()

'Asdfadsf\nAsdfdf \nAsdfdf \n'

## 2.4 Dictionaries

A dictionary is basically an efficient table that **maps keys to values**. It is an **unordered** container

In [63]:
tel = {'emmanuelle': 5752, 'sebastian': 5578}

In [64]:
tel

{'emmanuelle': 5752, 'sebastian': 5578}

In [65]:
tel['emmanuelle']

5752

In [66]:
tel['francis']

KeyError: 'francis'

In [67]:
tel['francis'] = 5919

In [68]:
tel

{'emmanuelle': 5752, 'francis': 5919, 'sebastian': 5578}

In [69]:
tel.keys()

dict_keys(['emmanuelle', 'sebastian', 'francis'])

In [70]:
tel.values()

dict_values([5752, 5578, 5919])

In [71]:
'francis' in tel

True

It can be used to conveniently store and retrieve values
associated with a name (a string for a date, a name, etc.). See
https://docs.python.org/tutorial/datastructures.html#dictionaries
for more information.

NB: A dictionary can have keys (resp. values) with different types:

In [72]:
d = {'a':1, 'b':2, 3: 'asdf'}
d

{3: 'asdf', 'a': 1, 'b': 2}

In [73]:
del d['a']

In [74]:
tel = {'emanuelle': 5752, 'sebastian' : 5578, 'francis' : 1234}

In [75]:
tel

{'emanuelle': 5752, 'francis': 1234, 'sebastian': 5578}

In [76]:
tel['emanuelle'], tel['sebastian'] = tel['sebastian'], tel['emanuelle']

In [77]:
tel

{'emanuelle': 5578, 'francis': 1234, 'sebastian': 5752}

## 2.5 Sets

A set contain is an unordered container, containing unique elements

In [78]:
s = 'truc truc bidule truc'
set(s)

{' ', 'b', 'c', 'd', 'e', 'i', 'l', 'r', 't', 'u'}

In [79]:
len(set(s))

10

In [80]:
set([1, 5, 2, 1, 1]).union(set([1, 2, 3]))

{1, 2, 3, 5}

You can use together all types together

In [81]:
dd = {'truc': [1, 2, 3], 
      5: (1, 4, 2),
      (1, 3): set(['hello', 'world'])}

In [82]:
dd

{(1, 3): {'hello', 'world'}, 5: (1, 4, 2), 'truc': [1, 2, 3]}

NB: any immutable type can be used as a key in a dict (such as a tuple)

In [83]:
dd[[2, 3]] = 4

TypeError: unhashable type: 'list'

## 2.6. Assigment

Assigment operator `=` in python does not do a copy. 
It actually works as name binding (when object are mutable).

In [84]:
l1 = [4, 1, 3, 2, 2, 2]

In [85]:
l2 = l1

In [86]:
l1[0] = 123

In [87]:
l2

[123, 1, 3, 2, 2, 2]

In [88]:
l2 = l1.copy()

In [89]:
l1[0] = -1

In [90]:
l2

[123, 1, 3, 2, 2, 2]

In [91]:
l1.append(5)
l1

[-1, 1, 3, 2, 2, 2, 5]

In [92]:
l1.pop()

5

In [93]:
l1.insert(1, 0)

In [94]:
l1

[-1, 0, 1, 3, 2, 2, 2]

# 3. Control Flow

Test, loops, etc.

In [95]:
if 2 ** 2 == 4:
    print('Obvious')
print('YES')

Obvious
YES

## 3.1. Blocks are delimited by indentation!

In [96]:
a = 2
if a == 1:
    print(2)
elif a == 2:
    print(1\
          )    
else:
    print(a)

1

## 3.2. for/range

Iteration with an index, with a list, with many things !

In [97]:
for i in range(4):
    print(i + 1)
print('-')
for i in range(1, 5):
    print(i)
print('-')
for i in range(1, 10, 3):
    print(i)

1
2
3
4
-
1
2
3
4
-
1
4
7

In [98]:
s

'truc truc bidule truc'

In [99]:
for c in s.split(" "):
    print(c)

truc
truc
bidule
truc

In [100]:
for word in ['green', 'blue', 'yellow']:
    print('best color is', word)

best color is green
best color is blue
best color is yellow

## 3.3. List Comprehensions

In [101]:
[i ** 2 for i in range(6)]

[0, 1, 4, 9, 16, 25]

In [102]:
[2 ** i for i in range(9)]

[1, 2, 4, 8, 16, 32, 64, 128, 256]

## 3.4 While

In [103]:
a = 10
b = 1
while b < a:
    b = b + 1
    print(b)

2
3
4
5
6
7
8
9
10

Compute the decimals of Pi using the Wallis formula:
$$
\pi = 2 \prod_{i=1}^{100} \frac{4i^2}{4i^2 - 1}
$$

In [104]:
pi = 2
eps = 1e-10
dif = 2 * eps
i = 1
while(dif > eps):
    old_pi = pi
    pi *= 4 * i ** 2 / (4 * i ** 2 - 1)
    dif = pi - old_pi
    i += 1

In [105]:
pi

3.1415837914137876

## 3.4 zip / dict comprehension / itertools / enumerate

In [106]:
s = "salut tintin"

{i: c for i, c in enumerate(s)}

{0: 's',
 1: 'a',
 2: 'l',
 3: 'u',
 4: 't',
 5: ' ',
 6: 't',
 7: 'i',
 8: 'n',
 9: 't',
 10: 'i',
 11: 'n'}

In [107]:
enumerate(s)

In [108]:
dict(enumerate(s))

{0: 's',
 1: 'a',
 2: 'l',
 3: 'u',
 4: 't',
 5: ' ',
 6: 't',
 7: 'i',
 8: 'n',
 9: 't',
 10: 'i',
 11: 'n'}

In [109]:
s1 = 'machinee'; s2 = 'magiques'
zip(s1, s2)

In [110]:
list(zip(s1, s2))

[('m', 'm'),
 ('a', 'a'),
 ('c', 'g'),
 ('h', 'i'),
 ('i', 'q'),
 ('n', 'u'),
 ('e', 'e'),
 ('e', 's')]

In [111]:
dict(zip(s1, s2))

{'a': 'a', 'c': 'g', 'e': 's', 'h': 'i', 'i': 'q', 'm': 'm', 'n': 'u'}

# 4. Defining functions

## 4.1. Function definition

Warning: Function blocks must be indented as other control-flow blocks.

In [112]:
def test():
    print('in test function')

In [113]:
test()

in test function

## 4.2. Return statement

Functions can *optionally* return values.
Note: By default, functions return ``None``.

The syntax to define a function:

    * the ``def`` keyword;

    * is followed by the function's **name**, then

    * the arguments of the function are given between parentheses followed
      by a colon.

    * the function body;

    * and ``return object`` for optionally returning values.

In [114]:
def f(x):
    return x + 10
f(20)

30

A function that returns several elements return a `tuple`

In [115]:
def f():
    return 1, 4

f()

(1, 4)

In [116]:
type(f())

tuple

## 4.3. Parameters

Mandatory parameters (positional arguments)

In [117]:
def double_it(x):
    return x * 2

double_it(3)

6

In [118]:
double_it()

TypeError: double_it() missing 1 required positional argument: 'x'

In [119]:
def double_it(x = 2):
    return x * 2

double_it()

4

In [120]:
double_it(3)

6

In [121]:
def f(x, y=2, * , z=10):
    print(x, '+', y, '+', z, '=', 
          x + y + z)

In [122]:
f(5, 3, 7)

TypeError: f() takes from 1 to 2 positional arguments but 3 were given

In [123]:
f(2)

2 + 2 + 10 = 14

In [124]:
f(5, -2)

5 + -2 + 10 = 13

In [125]:
f(5, z = -2)

5 + 2 + -2 = 5

In [126]:
f(5, z = -2, y = 3)

5 + 3 + -2 = 6

In [127]:
dd = {'y': 10, 'z': -5}

In [128]:
f(3, **dd)

3 + 10 + -5 = 8

Prototype of all Python's functions is

In [129]:
def f(*args, **kwargs):
    print('args=', args)
    print('kwargs=', kwargs)

In [130]:
f(1, 3)

args= (1, 3)
kwargs= {}

In [131]:
f(3, -2, y='truc')

args= (3, -2)
kwargs= {'y': 'truc'}

# 5. Object-oriented programming (OOP)

Python supports object-oriented programming (OOP). The goals of OOP are:

- to organize the code, and
- to re-use code in similar contexts.

Here is a small example: we create a `Student` class, which is an object
gathering several custom functions (called *methods*) and variables 
(called *attributes*).

In [132]:
s = 'truc'

In [133]:
s.title()

'Truc'

In [134]:
class Student(object):

    def __init__(self, name, age, major='computer science'):
        self.name = name
        self.age = age
        self.major = major

    def to_string(self):
        return str.join(', ', [attr + '=' + str(getattr(self, attr)) \
                    for attr in ['name', 'age', 'major']])
    
    def show(self):
        print(self.to_string())

anna = Student('anna', 23)
anna.show()

name=anna, age=23, major=computer science

**Inheritance**: MasterStudent is a Student with extra mandatory `Internship` attribute

In [135]:
class MasterStudent(Student):
    
    def __init__(self, name, age, intership,
                 major='computer science'):
        Student.__init__(self, name, age, major)
        self.intership = intership

    def to_string(self):
        s = Student.to_string(self)
        return str.join(', ', [s, 'intership=' + self.intership])

In [136]:
djalil = MasterStudent('djalil', 22, 'pwc')

In [138]:
djalil.show()

name=djalil, age=22, major=computer science, intership=pwc